@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@800&display=swap');
.first {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: "Oxanium", sans-serif;
    font-size: 6vh;
    font-weight: 800;
    background-color: #ff8000;
    border: 2px solid #ff8000;
    -webkit-text-fill-color: #ffffe5;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.last {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "Oxanium", sans-serif;
    font-size: 6vh;
    font-weight: 800;
    background-color: #ff8000;
    border: 2px solid #ff8000;
    -webkit-text-fill-color: #ffffe5;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.between {
    font-family: "Oxanium", sans-serif;
    font-size: 6vh;
    font-weight: 800;
    background-color: #ff8000;
    border: 2px solid #ff8000;
    -webkit-text-fill-color: #ffffe5;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}